/*
  title: base css
*/


/* =global elements
--------------------------------------------- */
body {
    color: #999;
    font: 14px/1.5em "Lucida Grande", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 790px;
    margin: 10px;
}

a:link, a:visited {
    color: #3b5998;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

h1 {
    color: #656565;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
}

/* ------------------------------------------ */

/* =header
--------------------------------------------- */
header {
    font-size: 11px;
    padding: 24px 18px;
}

header h1 {
    border-bottom: 2px solid #e9e9e9;
    margin: 0 0 9px;
    padding: 2px 0 8px;
}

header #picture + div {
    margin-left: 82px;
}

header #picture {
    background-position: center 25%;
    background-repeat: no-repeat;
    background-size: 64px;
    float: left;
    margin-right: 18px;
    width: 64px;
    height: 64px;
    overflow: hidden;
}

header .tagline {
    display: none;

    float: left;
}

#share-app {
    float: right;
    width: 360px;
}

#share-app ul {
    float: right;
}

#share-app p {
    float: left;
    margin-left: 8px;
}

#share-app li {
    float: left;
    list-style: none;
    margin-left: 8px;
}
/* ------------------------------------------ */


/* =my
--------------------------------------------- */
.two_buttons {
    margin-top: -60px;

    text-align: center;
}
.photos > label > img {
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.ph {
    display: none;
    float: right;

    margin-top: 60px;
    width: 380px;

    text-align: right;

    color: #1c1c3a;
}
.ph_send {
    display: none;
}
.fr {
    display: none;

    float: left;

    margin-top: 60px;

    text-align: left;

    color: #1c1c3a;
}
.fr_share {
    display: none;
}
/* ------------------------------------------ */


/* =buttons
--------------------------------------------- */

.facebook-button:link, .facebook-button:visited {
    background-color: #eee;
    background-image: -moz-linear-gradient(top, #fdfdfd, #eaebeb);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eaebeb);
    background-image: -o-linear-gradient(top, #fdfdfd, #eaebeb));
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eaebeb));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eaebeb);
    background-image: linear-gradient(top, #fdfdfd, #eaebeb);
    border: 1px solid #a9a9a9;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    color: #4f4f4f;
    display: -moz-inline-box;
    display: inline-block;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    outline: none;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .33);
}

.facebook-button span {
    background: url("../images/sprites.png") no-repeat;
    padding: 0 7px 0 21px;
}

.facebook-button .speech-bubble {
    background-position: 6px 3px;
}

.facebook-button .plus {
    background-position: 6px -17px;
}

.facebook-button .apprequests {
    background-position: 6px -37px;
}

.button, .button:link, .button:visited {
    background-color: #7a90c0;
    background-image: -moz-linear-gradient(top, #97afe2, #6073a1);
    background-image: -ms-linear-gradient(top, #97afe2, #6073a1);
    background-image: -o-linear-gradient(top, #97afe2, #6073a1);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#97afe2), to(#6073a1));
    background-image: -webkit-linear-gradient(top, #97afe2, #6073a1);
    background-image: linear-gradient(top, #97afe2, #6073a1);
    border: none;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
    color: #1d222c;
    display: inline-block;
    font: bold 14px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    line-height: 32px;
    padding: 0 25px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .2);
    cursor: pointer;
}
/* ------------------------------------------ */

/* =get started
--------------------------------------------- */
#hello {
    background: url("../images/get-started-bg.jpg");
    height: 105px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .29);
    padding: 32px 0 0;
}

#hello p {
    color: #fff;
    font-family: "CorbelRegular";
    font-size: 24px;
    height: 23px;
    margin-bottom: 24px;
}
/* ------------------------------------------ */


/* =clearfix
--------------------------------------------- */
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}
/* ------------------------------------------ */